
link(rel='stylesheet',href='css/memory-game.css')

div#preloader
    ul.preloader-dick
        li.preloader-card
        i.fa.fa-bicycle
        li.preloader-card
        i.fa.fa-bicycle
        li.preloader-card
        i.fa.fa-paper-plane-o
        li.preloader-card
        i.fa.fa-paper-plane-o
    div.preloader-txt
        p Loading...


div.container
  header
    h1 Matching Game
  

  section.score-panel
    ul.stars
      lii.star-one.fa.fa-star
      lii.star-two.fa.fa-star
      lii.star-three.fa.fa-star
    

    span.moves 0 Moves

    div.float-right
      div#timer-show.float-left
        span#time-info 00 : 00
      
    
  

  ul.deck
    li.card.animated
      i.fa.fa-diamond
    
    li.card.animated
      i.fa.fa-paper-plane-o
    
    li.card.animated
      i.fa.fa-anchor
    
    li.card.animated
      i.fa.fa-bolt
    
    li.card.animated
      i.fa.fa-cube
    
    li.card.animated
      i.fa.fa-anchor
    
    li.card.animated
      i.fa.fa-leaf
    
    li.card.animated
      i.fa.fa-bicycle
    
    li.card.animated
      i.fa.fa-diamond
    
    li.card.animated
      i.fa.fa-bomb
    
    li.card.animated
      i.fa.fa-leaf
    
    li.card.animated
      i.fa.fa-bomb
    
    li.card.animated
      i.fa.fa-bolt
    
    li.card.animated
      i.fa.fa-bicycle
    
    li.card.animated
      i.fa.fa-paper-plane-o
    
    li.card.animated
      i.fa.fa-cube
    
  


div#win-message-section
  div.righ-mark

  div.fade-out.game-win-info
    h2 Congratulations! You Won!
    div#play-again.play-again__botton Play again!
  


script(src="js/index.js")

