body{
	margin:0px; padding:0px;
	overflow:hidden;
}
.text{
	color:rgba(29, 37, 59, 0.2);
}
.sex{
	display: inline-block;
	font-size:40px;
	color:rgba(29, 37, 59, 0.2);
}
.female-hover{
	@extend .sex;
	color:#ea4c89;
}
.male-hover{
	@extend .sex;
	color:#1769ff;
}

.card-title{
	color:black;
}
body{
	display: none;
}