html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title main
		link(rel='stylesheet',href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
		link(rel='stylesheet',href='css/nucleo-icons.css')
		link(rel='stylesheet',href='css/main.css')
		link(rel='stylesheet',href='css/black-dashboard.css')
		link(rel='stylesheet',href='demo/demo.css')
		link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Josefin+Sans')
		link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Black+Han+Sans')

		
	body
		div.container
			h4 hi
		div#bottom-nav
			div.container
				div.item
					i.fas.fa-glass-martini-alt.active
				div.item
					i.fas.fa-trophy
				div.item
					i.fas.fa-hashtag
				div.item
					i.fas.fa-ellipsis-h

		script(src='js/jquery.min.js')
		script(src='js/popper.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/moment.min.js')
		script(src='js/bootstrap-datetimepicker.js')
		script(src='js/black-dashboard.min.js')
		script(src='js/demo.js')
		script(src='js/login.js')