html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title circline
		link(rel='stylesheet',href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
		link(rel='stylesheet',href='css/nucleo-icons.css')
		link(rel='stylesheet',href='css/black-dashboard.css')
		link(rel='stylesheet',href='demo/demo.css')
		link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Josefin+Sans')
		link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Black+Han+Sans')

		link(rel='stylesheet',href='css/splash.css')

	body.overflow
		center#title
			p#subtitle 모두 둥글게 앉아 서로 마주보며
			p#maintitle Circline
		
		div.card.card-stats.oveflow
			div.card-body#card-body.overflow
					div.info-icon.text-center.icon-primary#icon
		div.overflow#back
		
		p#footer Copyright 2019 HUME all rights reserved



	script(src='js/jquery.min.js')
	script(src='js/splash.js')
							

								

