script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
link(rel='stylesheet',href='css/index.css')
h1 숨도! 쉬지! 말고! 뛰어!
h2 Just! Run!

section.world
	div.wind
		div.wind.one#windone
		div.wind.two#windtwo
		div.wind.three#windthree
		div.wind.four#windfour
		div.wind.five#windfive
		div.wind.six#windsix

	div.floor
	

	div.stick
		div.head
		div.arm.left
			div.bottom
		div.arm.right
			div.bottom
		div.leg.left
			div.bottom
		div.leg.right
			div.bottom
div.gage
	div.charge

div.button(
	onclick="increase_speed()"
) touch me!
script(src="js/index.js")